section{
    display: flex;
    margin-bottom: 50px;
}

h1{
    font-size: 70px;
}

h2{
font-size: 45px;
}

h3{
    font-size: 30px;
}
p{

    color: black;
    font-size: 20px;
}


body{
    font-family: 'Baloo Bhai 2', cursive;

}
.half-width{
width: 50%;
margin: 5%;
}

.half-width img{
width: 100%;
padding-left: 30px;

}

#skip{
    color: orange;
}

.heading{
    font-size: 50px;
    color: gray;
}



.btn{
    text-decoration: none;
    font-size: 20px;
    padding: 20px 50px;
    color: white;
    font-weight: 700;
    border-radius: 100px;
    background-image: orangered, orange;
    
  }
  .middle{
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
      }
 
  .bottom{
text-align: center;
  }

  #bottom{

    font-size: 20px;
  }

.card{
    width: auto;
    margin: 10px;
    box-sizing: 200px 200px;
    box-shadow: 1px 2px 4px black;
    padding: 30px;
    display: flex;
    text-align: justify;
    border-radius: 40px;

}

.img-style{

    width: 100%;
    border-radius: 20px;
    justify-content: space-between;
    image-orientation: initial

}

/* .box3 img{

    width: 200px;
    border-radius: 30px;
    float:left; 

} */

.box3 p{

 font-size: 20px;

} 


#three-card{

    display: flex;
    justify-content: space-between;
    flex-flow: nowrap;
    padding: 6%;
    border-radius: 20%;
}

.grand{
    font-size: 40px;
}